footer {
  background-color: $color5;

  color: $color-bg-page;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;

}

.scroll {

  background-color: $color5;

  width: 40px;
  height: 40px;

  border-radius: 5px;
  border: none;

  i {
    color: $white;

    font-size: rem(30);

  }

  &:hover {
    i {
      color: $color1;
    }
  }
}

