.titreInscription {
  background: $color4;
  margin-top: 0;
  padding: 0 0 0 20px;

  color: $white;
}

.liste-inscription {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;

  width: 100%;

  padding-right: 40px;

}

input[type="text"], input[type="password"], input[type="password"], input[type="text"], input[type="text"], input[type="email"], textarea {

  border: none;
  outline: none;
  border-bottom: 3px solid $color3;
  border-left: 2px solid $color3;
  border-top: 1px solid $color3;
  border-right: 2px solid $color3;
  margin-bottom: 15px;
  padding-left: 10px;

  &:hover {

    border-bottom: 3px solid $color4;
    border-left: 2px solid $color4;
    border-top: 1px solid $color4;
    border-right: 2px solid $color4;
  }

}

.btn-envoyer {

  background: $white;

  padding: 10px;

  border-bottom: 3px solid $color1;
  border-left: 2px solid $color1;
  border-top: 1px solid $color1;
  border-right: 2px solid $color1;

  &:hover {
    background: $color1;

    border-bottom: 3px solid $color2;
    border-left: 2px solid $color2;
    border-top: 1px solid $color2;
    border-right: 2px solid $color2;

    border-radius: 10px;

    color: $white;
  }
}
