.hero-article {
  background: url("../images/imagearticle1.jpeg") center/cover no-repeat;

  min-height: 400px;
}

.pageArticle {
  padding: 20px;

  display: flex;
  justify-content: space-between;

}

.article-principal {
  width: 50%;
}

.fenetre {

  width: 50%;
  background-color: $color4;

  width: 200px;
  height: 400px;

  padding: 20px;

}

@media screen and (min-width: $breakpoint-md) {
  .hero-article {

    background: url("../images/imagearticle3.jpg") center/cover no-repeat;

  }

}

@media screen and (min-width: $breakpoint-lg) {
  .hero-article {

    background: url("../images/imagearticle2.jpg") center/cover no-repeat;

  }

}
