.banniere-profil {
  width: 100%;
}

.titreProfil {
  background: $color4;
  margin-top: 0;
  padding: 0 0 0 20px;

  color: $white;
}

.photoTexte {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px;

  img {
    width: 10%;
    margin-right: 10px;
  }
}

.texteProfil {

  display: flex;
  justify-content: center;

  li {
    list-style: none;
  }

}

.button-profil {
  display: flex;
  justify-content: center;
  margin: 100px;
}

