.articles {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {

    margin-bottom: 30px;

    width: 100%;

    color: inherit;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  article {

    padding: 10px;

    margin: 10px 0;

    background-color: rgba(127, 145, 232, 0.9);
    border: 2px solid $black;

    height: 100%;

    &:hover{
      background-color: rgba(194, 173, 255, 0.9);
    }


    i{
      padding-left: 5px;
    }

    .lire{

      text-align: right;

      &:hover{
        color: $color-reddit;


      }

    }




  }


}

@media screen and (min-width: $breakpoint-md) {

  .articles a {
    width: calc(50% - 10px);

  }

}

@media screen and (min-width: $breakpoint-lg) {

  .articles a {
    width: calc(33% - 10px);

  }

}








