//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-normal: rem(16);

$lh-normal: 1.5;

/// Font family

//font-family: 'Kurale', serif;
//font-family: 'Raleway', sans-serif;

$ff-normal: 'Raleway', Helvetica, Arial, sans-serif;
$ff-titre: 'Kurale', 'Times New Roman', serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
